<ion-content [fullscreen]="true" class="desktop-bg">
  <div style="position: absolute; top: 15px; right: 15px; z-index: 10;">
    <app-language-selector></app-language-selector>
  </div>

  <div class="login-wrapper">

    <div class="split-card">

      <!-- Sección del logo -->
      <div class="split-left">
        <div class="brand-container">
          <h2 class="brand-title">{{ 'LOGIN.BRAND_TITLE' | translate }}</h2>

          <p class="brand-subtitle">
            {{ 'LOGIN.BRAND_SUBTITLE' | translate }}
          </p>

          <img
            src="assets/img/logo.png"
            alt="Logo de Aqua Control"
            class="brand-logo"
          />
        </div>
      </div>

      <!-- Sección del formulario -->
      <div class="split-right">
        <h1 class="main-title">{{ 'LOGIN.TITLE' | translate }}</h1>

        <div class="input-group">
          <label>{{ 'LOGIN.USER_LABEL' | translate }}</label>

          <ion-input
            [value]="usuariosCredes.usuario"
            (ionInput)="usuariosCredes.usuario = $event.detail.value!"
            name="username"
            [placeholder]="'LOGIN.USER_PLACEHOLDER' | translate"
            type="text"
            required
            minlength="3"
            class="premium-input"
          ></ion-input>
        </div>

        <div class="input-group">
          <label>{{ 'LOGIN.PASSWORD_LABEL' | translate }}</label>

          <ion-input
            [value]="usuariosCredes.password"
            (ionInput)="usuariosCredes.password = $event.detail.value!"
            name="password"
            [placeholder]="'LOGIN.PASSWORD_PLACEHOLDER' | translate"
            type="password"
            required
            minlength="6"
            class="premium-input"
          >
            <ion-input-password-toggle
              slot="end"
              class="light-eye"
            ></ion-input-password-toggle>
          </ion-input>
        </div>

        <ion-button
          (click)="mostrar()"
          fill="solid"
          expand="block"
          class="neon-btn"
        >
          {{ 'LOGIN.BUTTON' | translate }}
        </ion-button>

        <div class="forgot-container">
          <span class="text-secondary">
            {{ 'LOGIN.NO_ACCOUNT' | translate }}
          </span>

          <a routerLink="/registro" class="neon-link">
            {{ 'LOGIN.REGISTER_NOW' | translate }}
          </a>
        </div>
      </div>

    </div>
  </div>
</ion-content>