<ion-content [fullscreen]="true" class="desktop-bg">
  <div class="login-wrapper">
    
    <div class="split-card">
      
      <div class="split-left">
        <div class="brand-container">
          <h2 class="brand-title">Aqua Control</h2>
          <p class="brand-subtitle">Smart monitoring & optimization</p>
        </div>
        
        <div class="illustration-container">
          </div>
      </div>

      <div class="split-right">
        <h1 class="main-title">LogIn</h1>

        <div class="input-group">
          <label>Username</label>
          <ion-input
            [(ngModel)]="usuariosCredes.usuario"
            name="username"
            placeholder="Enter your username"
            type="text"
            required
            minlength="3"
            class="premium-input"
          ></ion-input>
        </div>

        <div class="input-group">
          <label>Password</label>
          <ion-input
            [(ngModel)]="usuariosCredes.password"
            name="password"
            placeholder="Enter your password"
            type="password"
            required
            minlength="6"
            class="premium-input"
          >
            <ion-input-password-toggle slot="end" class="light-eye"></ion-input-password-toggle>
          </ion-input>
          <div class="forgot-link-container">
            <a href="#" class="forgot-link">Forgot Password?</a>
          </div>
        </div>

        <ion-button (click)="mostrar()" fill="solid" expand="block" class="neon-btn">
          CLICK TO LOGIN
        </ion-button>

        <div class="forgot-container">
          <span class="text-secondary">Don’t have an account?</span>
          <a href="registro" class="neon-link">Register Now</a>
        </div>
      </div>

    </div>
  </div>
</ion-content>