<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="head-toolbar">
    <div class="header-container-full">
      <!-- Izquierda: Logo, Título y Versión -->
      <div class="brand-wrapper">
        <div class="logo-indicator"></div>
        <ion-title class="main-header-title">AquaControl</ion-title>
        <span class="version-tag">v2.1</span>
      </div>

      <!-- Derecha: Botón de Perfil integrado -->
      <ion-button fill="clear" [routerLink]="['/profile']" class="profile-btn">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="premium-bg">
  <div class="page-container">

    <div class="config-card">
      <h2 class="sector-title">Sector 1</h2>
      
      <ion-grid class="ion-no-padding">
        <ion-row class="control-row">
          <ion-col size="6" class="label-col">
            <label>Fecha de inicio</label>
          </ion-col>
          <ion-col size="6" class="component-col">
            <ion-datetime-button datetime="datetime-inicio"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime-inicio" presentation="date" (ionChange)="onFechaInicioChange($event)"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
        </ion-row>

        <ion-row class="control-row">
          <ion-col size="6" class="label-col">
            <label>Fecha de fin</label>
          </ion-col>
          <ion-col size="6" class="component-col">
            <ion-datetime-button datetime="datetime-fin"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime-fin" presentation="date" (ionChange)="onFechaFinChange($event)"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="days-container">
        <label class="block-label">Días de la semana</label>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto" *ngFor="let dia of diasSector1">
              <button 
                class="day-btn" 
                [ngClass]="{'selected': dia.selected}" 
                (click)="toggleDia(dia)">
                {{ getPrimeraLetra(dia.nombre) }}
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-grid class="ion-no-padding">
        <ion-row class="control-row">
          <ion-col size="6" class="label-col">
            <label>Hora de apertura</label>
          </ion-col>
          <ion-col size="6" class="component-col">
            <ion-datetime-button datetime="datetime-hora-apertura"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime-hora-apertura" presentation="time" (ionChange)="onHoraInicioChange($event)"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
        </ion-row>

        <div class="input-group">
          <label>Duración (min)</label>
          <ion-input [(ngModel)]="configuracion.duracion" type="number" placeholder="Ej. 15" class="premium-input"></ion-input>
        </div>

        <div class="input-group">
          <label>Pausas</label>
          <ion-input [(ngModel)]="configuracion.pausas" type="number" placeholder="Ej. 2" class="premium-input"></ion-input>
        </div>

        <div class="input-group">
          <label>Tiempo entre pausas (min)</label>
          <ion-input [(ngModel)]="configuracion.duracionPausa" type="number" placeholder="Ej. 5" class="premium-input"></ion-input>
        </div>
      </ion-grid>

      <ion-button class="neon-btn" expand="block" (click)="guardar('67bb6f2e85118d10af317f79')">
        GUARDAR SECTOR 1
      </ion-button>
    </div>

    <div class="config-card">
      <h2 class="sector-title">Sector 2</h2>
      
      <ion-grid class="ion-no-padding">
        <ion-row class="control-row">
          <ion-col size="6" class="label-col">
            <label>Fecha de inicio</label>
          </ion-col>
          <ion-col size="6" class="component-col">
            <ion-datetime-button datetime="datetime-inicio2"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime-inicio2" presentation="date" (ionChange)="onFechaInicioChange2($event)"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
        </ion-row>

        <ion-row class="control-row">
          <ion-col size="6" class="label-col">
            <label>Fecha de fin</label>
          </ion-col>
          <ion-col size="6" class="component-col">
            <ion-datetime-button datetime="datetime-fin2"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime-fin2" presentation="date" (ionChange)="onFechaFinChange2($event)"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="days-container">
        <label class="block-label">Días de la semana</label>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto" *ngFor="let dia of diasSector2">
              <button 
                class="day-btn" 
                [ngClass]="{'selected': dia.selected}" 
                (click)="toggleDia2(dia)">
                {{ getPrimeraLetra(dia.nombre) }}
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-grid class="ion-no-padding">
        <ion-row class="control-row">
          <ion-col size="6" class="label-col">
            <label>Hora de apertura</label>
          </ion-col>
          <ion-col size="6" class="component-col">
            <ion-datetime-button datetime="datetime-hora-apertura2"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime-hora-apertura2" presentation="time" (ionChange)="onHoraInicioChange2($event)"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
        </ion-row>

        <div class="input-group">
          <label>Duración (min)</label>
          <ion-input [(ngModel)]="configuracion2.duracion" type="number" placeholder="Ej. 20" class="premium-input"></ion-input>
        </div>

        <div class="input-group">
          <label>Pausas</label>
          <ion-input [(ngModel)]="configuracion2.pausas" type="number" placeholder="Ej. 1" class="premium-input"></ion-input>
        </div>

        <div class="input-group">
          <label>Tiempo entre pausas (min)</label>
          <ion-input [(ngModel)]="configuracion2.duracionPausa" type="number" placeholder="Ej. 10" class="premium-input"></ion-input>
        </div>
      </ion-grid>

      <ion-button class="neon-btn" expand="block" (click)="guardar2('67bb79ac1c82e9d42d445882')">
        GUARDAR SECTOR 2
      </ion-button>
    </div>

  </div>
</ion-content>
