<ion-content [fullscreen]="true" class="desktop-bg">

  <div class="login-wrapper">

    <div class="split-card">

      <div class="split-left">

        <div class="brand-container">

          <h2 class="brand-title">
            Aqua Control
          </h2>

          <p class="brand-subtitle">
            Monitoreo y optimización inteligente
          </p>

          <img
            src="assets/img/logo.png"
            alt="Logo de Aqua Control"
            class="brand-logo"
          />

        </div>

      </div>

      <div class="split-right">

        <h1 class="main-title">
          Crear cuenta
        </h1>

        <div class="input-group">

          <label>
            Usuario
          </label>

          <ion-input
            [value]="usuario()"
            (ionInput)="actualizarUsuario($event)"
            placeholder="Elige un nombre de usuario"
            type="text"
            class="premium-input"
          ></ion-input>

          @if (errores.usuario) {
            <p class="error-text">
              {{ errores.usuario }}
            </p>
          }

        </div>

        <div class="input-group">

          <label>
            Correo electrónico
          </label>

          <ion-input
            [value]="email()"
            (ionInput)="actualizarEmail($event)"
            placeholder="Ingresa tu correo electrónico"
            type="email"
            class="premium-input"
          ></ion-input>

          @if (errores.email) {
            <p class="error-text">
              {{ errores.email }}
            </p>
          }

        </div>

        <div class="input-group">

          <label>
            Contraseña
          </label>

          <ion-input
            [value]="password()"
            (ionInput)="actualizarPassword($event)"
            name="new-password"
            autocomplete="new-password"
            placeholder="Crea una contraseña"
            type="password"
            required
            minlength="6"
            class="premium-input"
          >
            <ion-input-password-toggle
              slot="end"
              class="light-eye"
            ></ion-input-password-toggle>
          </ion-input>

          @if (errores.password) {
            <p class="error-text">
              {{ errores.password }}
            </p>
          }

        </div>

        <ion-button
          (click)="insertar()"
          fill="solid"
          expand="block"
          class="neon-btn"
        >
          REGISTRARSE
        </ion-button>

        <div class="forgot-container">

          <span class="text-secondary">
            Ya tengo una cuenta.
          </span>

          <a
            routerLink="/login"
            class="neon-link"
          >
            Iniciar sesión
          </a>

        </div>

      </div>

    </div>

  </div>

</ion-content>